@model TheLaptopStore.Models.User

@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <style>
        body {
            font-family: Poppins, Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        div {
            width: 50%;
            margin: auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 50px;
        }

        h1 {
            text-align: center;
        }

        form {
            display: grid;
            gap: 10px;
        }

        input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            width: 100%;
        }

            input[type="submit"] {
                background-color: #007bff;
                color: #fff;
                cursor: pointer;
            }

                input[type="submit"]:hover {
                    background-color: #007bff;
                }

        a {
            text-decoration: none;
            font-weight: 400;
            color: #007bff;
        }

    </style>
</head>
<body>
    <div>
        <form action="Submit"  method="post">
            First Name: <input type="text" id="FirstName" name="FirstName" /> @Html.ValidationMessageFor(x => x.FirstName) <br />
            Last Name: <input type="text" id="LastName" name="LastName" /> @Html.ValidationMessageFor(x => x.LastName) <br />
            ID: <input type="text" id="ID" name="ID" /> @Html.ValidationMessageFor(x => x.ID) <br />
            Email: <input type="email" id="Email" name="Email" /> @Html.ValidationMessageFor(x => x.Email) <br />
            Phone Number: <input type="text" id="Phone" name="Phone" /> @Html.ValidationMessageFor(x => x.Phone) <br />
            Date Of Birth: <input type="date" id="DateOfBirth" name="DateOfBirth" /> @Html.ValidationMessageFor(x => x.DateOfBirth) <br />
            Password: <input type="text" id="Password" name="Password" /> @Html.ValidationMessageFor(x => x.Password) <br />
            City: <input type="text" id="City" name="City" /> @Html.ValidationMessageFor(x => x.City) <br />
            Building Number: <input type="text" id="BuildingNumber" name="BuildingNumber" /> @Html.ValidationMessageFor(x => x.BuildingNumber) <br />
            Apartment Number: <input type="text" id="ApartmentNumber" name="ApartmentNumber" /> @Html.ValidationMessageFor(x => x.ApartmentNumber) <br />
            <input type="submit" id="Submit" name="Submit" value="Register" />
        </form>
    </div>
</body>
</html>

