@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/deleteProduct.css">

<div class="container">
    <div class="row">
        @foreach (var laptop in Model) {
            <!-- product -->
            <div class="col-xs-12 col-md-6">
                <div class="product-content product-wrap clearfix" style="position: relative;">
                    <div class="row">
                        <div class="col-md-5 col-sm-12 col-xs-12">
                            <div class="product-image">
                                <img src="~/photos/@(laptop.Picture)" alt="194x228" class="img-responsive img-fluid">
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="product-deatil">
                                <h5 class="name">
                                    <a href="#">
                                        @laptop.Maker @laptop.Model
                                        <span>@laptop.Category</span>
                                    </a>
                                </h5>
                                <div class="price-container">
                                    @if (laptop.SalePrecentage > 0) {
                                        <div id="old-price" style="display: inline-block; text-decoration: line-through;">@laptop.Price $</div>
                                    }
                                    <div id="price" style="display: inline-block;">
                                        <strong style="font-weight: bold;">@((int)(Math.Floor(laptop.Price - laptop.Price * (laptop.SalePrecentage * 0.01)))) $</strong>
                                    </div>
                                </div>
                                <span class="tag1"></span>
                            </div>
                            <div class="description">
                                <p>@laptop.Description</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-info smart-form" style="position: absolute; bottom: 10px; right: 10px;">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <a asp-controller="AdminPage" asp-action="editProduct" asp-route-model="@laptop.Model" class="nav-link btn btn-link text-white d-flex justify-content-center align-items-center" style="background-color: #FEBE10; padding: 8px 20px; border-radius: 5px; text-decoration: none; margin-right: 5px;">Edit</a>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <a asp-controller="AdminPage" asp-action="Delete" asp-route-model="@laptop.Model" class="nav-link btn btn-link text-white d-flex justify-content-center align-items-center" style="background-color: red; padding: 8px 20px; border-radius: 5px; text-decoration: none; margin-left: 5px;">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end product -->
        }
    </div>
</div>










