<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Poppins, Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            margin-bottom: 60px; /* Adjust the margin-bottom to accommodate the fixed footer */
        }

        .design {
            width: 85%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1.5rem;
            .product

        {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            border: 1px solid grey;
            border-radius: 4px;
            margin: 5px;
            background-color: #fff;
            width: 230px;
            transition: scale 0.15s, box-shadow 0.1s;
            > .product_img_container

        {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-radius: 4px;
            overflow: hidden;
            .product_img

        {
            align-self: center;
            width: 100%;
        }

        }


        > p {
            font-weight: bold;
            width: 100%;
            > span

        {
            font-weight: normal;
            font-size: 0.95rem;
        }

        }

        > .product_btn {
            border: none;
            cursor: pointer;
            font-weight: bold;
            text-align: center;
            padding: 0.5rem 0;
            width: 100%;
            background-color: rgb(157, 203, 255);
            transition: background-color 0.2s;
            border-radius: 4px;
        }

        .product_btn:hover {
            background-color: rgb(103, 174, 255);
        }

        }

        .product:hover {
            scale: 1.05;
            box-shadow: 0 10px 20px gray;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 50px; /* Adjust the height of the footer */
        }

        }


        nav {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
            margin-right: 20px;
        }

        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 16px;
        }

            a:hover {
                color: #ffcc00;
            }

    </style>
</head>
<body>


    <div class="grid-container" id="editProduct">
        <div class="design">
            @foreach (var laptop in Model) {
                <div class="product">

                    <h2>@laptop.Model</h2>
                    <img id="img" src="~/photos/@laptop.Picture" alt="@laptop.Model">
                    <p id="description">Description: @laptop.Description</p>
                    <p id="Ram">Ram: @laptop.Ram</p>
                    <p id="price">Price: $@laptop.Price</p>
                    <a asp-controller="AdminPage" asp-action="editProduct" asp-route-model="@laptop.Model" class="nav-link btn btn-link text-dark">Edit</a>
                </div>
            }
        </div>
    </div>



</body>
</html>
