<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/showEditProduct.css">
</head>
<body>


    <div class="grid-container" id="editProduct">
        <div class="design">
            @foreach (var laptop in Model) {
                <div class="product">

                    <h2>@laptop.Model</h2>
                    <img id="img" src="~/photos/@(laptop.Picture)" alt="@laptop.Model">
                    <p id="description">Description: @laptop.Description</p>
                    <p id="Ram">Ram: @laptop.Ram</p>
                    <p id="price">Price: $@laptop.Price</p>
                    <a asp-controller="AdminPage" asp-action="editProduct" asp-route-model="@laptop.Model" class="nav-link btn btn-link text-dark">Edit</a>
                </div>
            }
        </div>
    </div>



</body>
</html>
