@{
    ViewData["Title"] = "ShoppingCartPage";
    var sessionId = TempData["idModel"];
}

<link rel="stylesheet" href="~/css/ShoppingCartPage.css">

<div class="container mt-5 p-3 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="product-details mr-2">
                
                <hr>
                <h2 class="mb-0">Shopping cart</h2>
                <div class="d-flex justify-content-between">
                    

                </div>
                <table class="table mt-3 items rounded">
                    <tr>
                        <th>Product</th>
                        <th>Model</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                    </tr>
                    @foreach (var cart in Model)
                    {
                        <tr class="cart-row ">
                            <td>
                                <div class="d-flex flex-row align-items-center">
                                    <img class="rounded" src="~/photos/@(cart.laptop.Picture).jpg" width="40">                               
                                </div>
                            </td>
                            <td>
                                <span class="font-weight-bold">@cart.laptop.Model</span>
                            </td>
                            <td>
                                <span class="quantity-value">@cart.quantity</span>
                                <a href="@Url.Action("AddProductCart", "Payment", new { laptopModel = cart.laptopModel })" class="quantity-link" onclick="changeQuantity('@cart.laptopModel', 'increase')">&#9650;</a>
                                <a href="@Url.Action("DecreaseProductCart", "Payment", new { laptopModel = cart.laptopModel })" class="quantity-link" onclick="changeQuantity('@cart.laptopModel', 'decrease')">&#9660;</a>
                            </td>
                            <td>
                                <span class="font-weight-bold">@cart.totalPrice</span>
                            </td>
                            <td>
                                <i class="fa fa-trash-o text-black-50"></i>
                            </td>
                            <td>
                                <a class="btn btn-primary" href="@Url.Action("RemoveProductCart", "Payment", new { laptopModel = cart.laptopModel })" role="button">Remove</a><br />
                            </td>
                            <td>
                                @if (sessionId != null)
                                {
                                    @if (cart.laptopModel == sessionId.ToString())
                                    {
                                        <span id="cantAddMessage" class="font-weight-bold">@TempData["CantAdd"]</span>

                                        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                                        <script>
                                            $(document).ready(function () {
                                            // Set the duration in milliseconds (e.g., 1000 for 1 second)
                                            var duration = 1000;

                                            // Hide the message after the specified duration
                                            setTimeout(function () {
                                            $("#cantAddMessage").fadeOut();
                                            }, duration);
                                            });
                                        </script>
                                    }
                                }
                            </td>
                        </tr>
                    }
                    


                </table>
                @{
                    var modelError = TempData["ModelError"] as string;
                }
                <a class="btn btn-primary" href="@Url.Action("showPaymentPage", "Payment")" role="button">Checkout</a><br />
                <span id="modelError" class="text-danger">@modelError</span><br/>
                <span class="font-weight-bold">Total price:  @TempData["Price"]</span><br />
                <span id="modelError" class="text-danger">@TempData["UnavailableLaptop"]</span><br/>
            </div>
        </div>
    </div>
</div>