<style>
    .payment-info {
        background: blue;
        padding: 10px;
        border-radius: 6px;
        color: #fff;
        font-weight: bold;
    }

    .product-details {
        padding: 10px;
    }

    body {
        background: #eee;
    }

    .cart {
        background: #fff;
    }

    .p-about {
        font-size: 12px;
    }

    .table-shadow {
        -webkit-box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.42);
        box-shadow: 5px 5px 15px -2px rgba(0,0,0,0.42);
    }

    .type {
        font-weight: 400;
        font-size: 10px;
    }

    label.radio {
        cursor: pointer;
    }

        label.radio input {
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            pointer-events: none;
        }

        label.radio span {
            padding: 1px 12px;
            border: 2px solid #ada9a9;
            display: inline-block;
            color: #8f37aa;
            border-radius: 3px;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 300;
        }

        label.radio input:checked + span {
            border-color: #fff;
            background-color: blue;
            color: #fff;
        }

    .credit-inputs {
        background: rgb(102,102,221);
        color: #fff !important;
        border-color: rgb(102,102,221);
    }

        .credit-inputs::placeholder {
            color: #fff;
            font-size: 13px;
        }

    .credit-card-label {
        font-size: 9px;
        font-weight: 300;
    }

    .form-control.credit-inputs:focus {
        background: rgb(102,102,221);
        border: rgb(102,102,221);
    }

    .line {
        border-bottom: 1px solid rgb(102,102,221);
    }

    .information span {
        font-size: 12px;
        font-weight: 500;
    }

    .information {
        margin-bottom: 5px;
    }

    .items {
        -webkit-box-shadow: 5px 5px 4px -1px rgba(0,0,0,0.25);
        box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.08);
    }

    .spec {
        font-size: 11px;
    }

    .quantity-link {
        text-decoration: none;
        color: #333; /* Change the color if desired */
        font-size: 16px;
        cursor: pointer;
    }

        .quantity-link:hover {
            color: #555; /* Change the hover color if desired */
            text-decoration: underline; /* Add underline on hover if desired */
        }



</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<div class="container mt-5 p-3 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="product-details mr-2">
                <div class="d-flex flex-row align-items-center"><i class="fa fa-long-arrow-left"></i><span class="ml-2">Continue Shopping</span></div>
                <hr>
                <h6 class="mb-0">Shopping cart</h6>
                <div class="d-flex justify-content-between">
                    

                </div>
                <table class="table mt-3 items rounded">
                    <tr>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                    </tr>
                    @foreach (var cart in Model)
                    {
                        <tr class="cart-row animate__animated animate__fadeInLeft" style="animation-delay: @(Model.IndexOf(cart) * 0.2)s;">
                            <td>
                                <div class="d-flex flex-row align-items-center">
                                    <img class="rounded" src="~/photos/@(cart.laptop.Picture).jpg" width="40">
                                    <div class="ml-2">
                                        <span class="font-weight-bold">@cart.laptop.Model</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="spec">@cart.laptop.Description</span>
                            </td>
                            <td>
                                <span class="quantity-value">@cart.quantity</span>
                                <a href="@Url.Action("AddProductCart", "Payment", new { laptopModel = cart.laptopModel })" class="quantity-link" onclick="changeQuantity('@cart.laptopModel', 'increase')">&#9650;</a>
                                <a href="@Url.Action("DecreaseProductCart", "Payment", new { laptopModel = cart.laptopModel })" class="quantity-link" onclick="changeQuantity('@cart.laptopModel', 'decrease')">&#9660;</a>
                            </td>
                            <td>
                                <span class="font-weight-bold">@cart.totalPrice</span>
                            </td>
                            <td>
                                <i class="fa fa-trash-o text-black-50"></i>
                            </td>
                            <td>
                                <a class="btn btn-primary" href="@Url.Action("RemoveProductCart", "Payment", new { laptopModel = cart.laptopModel })" role="button">Remove</a><br />
                            </td>
                            <td>
                                @if (cart.quantity == cart.laptop.Quantity)
                                {
                                    <span id="cantAddMessage" class="font-weight-bold">@TempData["CantAdd"]</span>

                                    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                                    <script>
                                        $(document).ready(function () {
                                            // Set the duration in milliseconds (e.g., 1000 for 1 second)
                                            var duration = 1000;

                                            // Hide the message after the specified duration
                                            setTimeout(function () {
                                                $("#cantAddMessage").fadeOut();
                                            }, duration);
                                        });
                                    </script>
                                }
                            </td>
                        </tr>
                    }



                </table>
                @{
                    var modelError = TempData["ModelError"] as string;
                }
                <a class="btn btn-primary" href="@Url.Action("showPaymentPage", "Payment")" role="button">Checkout</a><br />
                <span id="modelError" class="text-danger">@modelError</span><br/>
                <span class="font-weight-bold">Total price:  @TempData["Price"]</span><br />
                <span id="modelError" class="text-danger">@TempData["UnavailableLaptop"]</span><br/>
            </div>
        </div>
    </div>
</div>