@{
    ViewData["Title"] = "Home Page";
}


<style>
    body {
        margin-top: 20px;
        background: #eee;
    }

    .product-content {
        height: 320px; /* Adjust the height as needed */
        border: 2px solid #dfe5e9;
        margin-bottom: 20px;
        margin-top: 12px;
        background: #fff;
        padding: 4px;
        -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    }

        .product-content .carousel-control.left {
            margin-left: 0
        }

        .product-content .product-image {
            height: 100%; /* Fill the entire height of the product-content div */
            width: auto;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: relative;
        }

        .product-content .product-deatil {
            border-bottom: 1px solid #dfe5e9;
            padding-bottom: 17px;
            padding-left: 16px;
            padding-top: 16px;
            position: relative;
            background: #fff
        }

            .product-content .product-deatil h5 a {
                color: #2f383d;
                font-size: 15px;
                line-height: 19px;
                text-decoration: none;
                padding-left: 0;
                margin-left: 0
            }

                .product-content .product-deatil h5 a span {
                    color: #9aa7af;
                    display: block;
                    font-size: 13px
                }

            .product-content .product-deatil span.tag1 {
                border-radius: 50%;
                color: #fff;
                font-size: 15px;
                height: 50px;
                padding: 13px 0;
                position: absolute;
                right: 10px;
                text-align: center;
                top: 10px;
                width: 50px
            }

            .product-content .product-deatil span.sale {
                background-color: #13274F
            }

            .product-content .product-deatil span.discount {
                background-color: #71e134
            }

            .product-content .product-deatil span.hot {
                background-color: #fa9442
            }

        .product-content .description {
            font-size: 12.5px;
            line-height: 20px;
            padding: 10px 14px 16px 19px;
            background: #fff
        }

        .product-content .product-info {
            padding: 11px 19px 10px 20px
        }

            .product-content .product-info a.add-to-cart {
                color: #2f383d;
                font-size: 13px;
                padding-left: 16px
            }

        .product-content name.a {
            padding: 5px 10px;
            margin-left: 16px
        }

    .product-info.smart-form .btn {
        padding: 6px 12px;
        margin-left: 12px;
        margin-top: -10px
    }

    .product-entry .product-deatil {
        border-bottom: 1px solid #dfe5e9;
        padding-bottom: 17px;
        padding-left: 16px;
        padding-top: 16px;
        position: relative
    }

        .product-entry .product-deatil h5 a {
            color: #2f383d;
            font-size: 15px;
            line-height: 19px;
            text-decoration: none
        }

            .product-entry .product-deatil h5 a span {
                color: #9aa7af;
                display: block;
                font-size: 13px
            }

    .load-more-btn {
        background-color: #13274F;
        border-bottom: 2px solid #13274F;
        border-radius: 2px;
        border-top: 2px solid #13274F;
        margin-top: 20px;
        padding: 9px 0;
        width: 100%
    }

    .product-block .product-deatil p.price-container span,
    .product-content .product-deatil p.price-container span,
    .product-entry .product-deatil p.price-container span,
    .shipping table tbody tr td p.price-container span,
    .shopping-items table tbody tr td p.price-container span {
        color: black;
        font-family: Lato, sans-serif;
        font-size: 24px;
        font-weight: bold;
        line-height: 20px
    }

    .product-info.smart-form .rating label {
        margin-top: 0
    }

    .product-wrap .product-image span.tag2 {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        padding: 10px 0;
        color: #fff;
        font-size: 11px;
        text-align: center
    }

    .product-wrap .product-image span.sale {
        background-color: #57889c
    }

    .product-wrap .product-image span.hot {
        background-color: #a90329
    }

    .shop-btn {
        position: relative
    }

        .shop-btn > span {
            background: #a90329;
            display: inline-block;
            font-size: 10px;
            box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
            font-weight: 700;
            border-radius: 50%;
            padding: 2px 4px 3px !important;
            text-align: center;
            line-height: normal;
            width: 19px;
            top: -7px;
            left: -7px
        }

    .description-tabs {
        padding: 30px 0 5px !important
    }

        .description-tabs .tab-content {
            padding: 10px 0
        }

    .product-deatil {
        padding: 30px 30px 50px
    }

        .product-deatil hr + .description-tabs {
            padding: 0 0 5px !important
        }

        .product-deatil .carousel-control.left,
        .product-deatil .carousel-control.right {
            background: none !important
        }

        .product-deatil .glyphicon {
            color: #13274F
        }

        .product-deatil .product-image {
            border-right: 0px solid #fff !important
        }

        .product-deatil .name {
            margin-top: 0;
            margin-bottom: 0
        }

            .product-deatil .name small {
                display: block
            }

            .product-deatil .name a {
                margin-left: 0
            }

        .product-deatil .price-container {
            font-size: 24px;
            margin: 0;
            font-weight: 300
        }

            .product-deatil .price-container small {
                font-size: 12px
            }

        .product-deatil .fa-2x {
            font-size: 16px !important
        }

            .product-deatil .fa-2x > h5 {
                font-size: 12px;
                margin: 0
            }

            .product-deatil .fa-2x + a,
            .product-deatil .fa-2x + a + a {
                font-size: 13px
            }

        .product-deatil .certified {
            margin-top: 10px
        }

            .product-deatil .certified ul {
                padding-left: 0
            }

                .product-deatil .certified ul li:not(first-child) {
                    margin-left: -3px
                }

                .product-deatil .certified ul li {
                    display: inline-block;
                    background-color: #f9f9f9;
                    padding: 13px 19px
                }

                    .product-deatil .certified ul li:first-child {
                        border-right: none
                    }

                    .product-deatil .certified ul li a {
                        text-align: left;
                        font-size: 12px;
                        color: #6d7a83;
                        line-height: 16px;
                        text-decoration: none
                    }

                        .product-deatil .certified ul li a span {
                            display: block;
                            color: #13274F;
                            font-size: 13px;
                            font-weight: 700;
                            text-align: center
                        }

        .product-deatil .message-text {
            width: calc(100% - 70px)
        }

    .description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-width: 100%;
    }

</style>





<div class="container">
    <div class="row">
        <!-- Filter Section -->
        <div class="col-md-3">
            <form method="post" action="@Url.Action("FilterProducts", "Home")">
                <div class="d-flex flex-column">
                    <div class="mb-3">
                        <label for="ramFilter">Filter by RAM:</label>
                        <select id="ramFilter" name="ramFilter" class="form-control form-control-sm" multiple size="5">
                            <option value="4">4 GB</option>
                            <option value="8">8 GB</option>
                            <option value="16">16 GB</option>
                            <option value="32">32 GB</option>
                            <option value="64">64 GB</option>
                        </select>
                    </div>
                    <script>
                        var isMouseDown = false;

                        document.getElementById('ramFilter').addEventListener('mousedown', function (e) {
                            e.preventDefault();
                            isMouseDown = true;
                            selectOption(e);
                        });

                        document.addEventListener('mouseup', function () {
                            isMouseDown = false;
                        });

                        document.getElementById('ramFilter').addEventListener('mousemove', function (e) {
                            if (isMouseDown) {
                                selectOption(e);
                            }
                        });

                        function selectOption(event) {
                            var option = document.elementFromPoint(event.clientX, event.clientY);
                            if (option && option.tagName === 'OPTION') {
                                option.selected = !option.selected;
                            }
                        }
                    </script>

                    <div class="mb-3">
                        <label for="cpuFilter">Filter by CPU:</label>
                        <select id="cpuFilter" name="cpuFilter[]" class="form-control form-control-sm" multiple size="5">
                            <option value="i3">i3</option>
                            <option value="i5">i5</option>
                            <option value="i7">i7</option>
                            <option value="i9">i9</option>
                        </select>
                    </div>
                    <script>
                        var isMouseDown = false;

                        document.getElementById('cpuFilter').addEventListener('mousedown', function (e) {
                            e.preventDefault();
                            isMouseDown = true;
                            selectOption(e);
                        });

                        document.addEventListener('mouseup', function () {
                            isMouseDown = false;
                        });

                        document.getElementById('cpuFilter').addEventListener('mousemove', function (e) {
                            if (isMouseDown) {
                                selectOption(e);
                            }
                        });

                        function selectOption(event) {
                            var option = document.elementFromPoint(event.clientX, event.clientY);
                            if (option && option.tagName === 'OPTION') {
                                option.selected = !option.selected;
                            }
                        }
                    </script>

                    <div class="mb-3">
                        <label for="gpuFilter">Filter by GPU:</label>
                        <select id="gpuFilter" name="gpuFilter" class="form-control form-control-sm" multiple size="5">
                            <option value="3050">3050</option>
                            <option value="3070">3070</option>
                            <option value="4080">4080</option>
                        </select>
                    </div>
                    <script>
                        var isMouseDown = false;

                        document.getElementById('gpuFilter').addEventListener('mousedown', function (e) {
                            e.preventDefault();
                            isMouseDown = true;
                            selectOption(e);
                        });

                        document.addEventListener('mouseup', function () {
                            isMouseDown = false;
                        });

                        document.getElementById('gpuFilter').addEventListener('mousemove', function (e) {
                            if (isMouseDown) {
                                selectOption(e);
                            }
                        });

                        function selectOption(event) {
                            var option = document.elementFromPoint(event.clientX, event.clientY);
                            if (option && option.tagName === 'OPTION') {
                                option.selected = !option.selected;
                            }
                        }
                    </script>
                    <div class="mb-3">
                        <label for="PriceFilter">Filter by Price:</label>
                        <select id="PriceFilter" name="PriceFilter" class="form-control form-control-sm" multiple size="5">
                            <option value="1000">over 1000$</option>
                            <option value="2000">over 2000$</option>
                            <option value="3000">over 3000$</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="ssdFilter">Filter by SSD:</label>
                        <select id="ssdFilter" name="ssdFilter" class="form-control form-control-sm" multiple size="5">
                            <option value="128">128 GB</option>
                            <option value="512">512 GB</option>
                            <option value="1000">1000 GB</option>
                        </select>
                    </div>
                    <script>
                        var isMouseDown = false;

                        document.getElementById('ssdFilter').addEventListener('mousedown', function (e) {
                            e.preventDefault();
                            isMouseDown = true;
                            selectOption(e);
                        });

                        document.addEventListener('mouseup', function () {
                            isMouseDown = false;
                        });

                        document.getElementById('ssdFilter').addEventListener('mousemove', function (e) {
                            if (isMouseDown) {
                                selectOption(e);
                            }
                        });

                        function selectOption(event) {
                            var option = document.elementFromPoint(event.clientX, event.clientY);
                            if (option && option.tagName === 'OPTION') {
                                option.selected = !option.selected;
                            }
                        }
                    </script>
                    <div class="mb-3">
                        <label for="MakerFilter">Filter by Maker:</label>
                        <select id="MakerFilter" name="MakerFilter" class="form-control form-control-sm" multiple size="5">
                            <option value="Asus">Asus</option>
                            <option value="Lenovo">Lenovo</option>
                            <option value="Apple">Apple</option>
                        </select>
                    </div>
                    <script>
                        var isMouseDown = false;

                        document.getElementById('MakerFilter').addEventListener('mousedown', function (e) {
                            e.preventDefault();
                            isMouseDown = true;
                            selectOption(e);
                        });

                        document.addEventListener('mouseup', function () {
                            isMouseDown = false;
                        });

                        document.getElementById('MakerFilter').addEventListener('mousemove', function (e) {
                            if (isMouseDown) {
                                selectOption(e);
                            }
                        });

                        function selectOption(event) {
                            var option = document.elementFromPoint(event.clientX, event.clientY);
                            if (option && option.tagName === 'OPTION') {
                                option.selected = !option.selected;
                            }
                        }
                    </script>





                  
                    <div>
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Products Section -->
        <div class="col-md-9">
            <div class="row">
                @foreach (var laptop in Model)
                {
                    <div class="col-md-6">
                        <div class="product-content product-wrap clearfix" style="position: relative;">
                            <div class="row">
                                <div class="col-md-5 col-sm-12 col-xs-12">
                                    <div class="product-image">
                                        <img src="~/photos/@(laptop.Picture).jpg" alt="194x228" class="img-responsive img-fluid">
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-12 col-xs-12">
                                    <div class="product-deatil">
                                        <h5 class="name">
                                            <a href="#">
                                                @laptop.Maker @laptop.Model
                                                <span>@laptop.Category</span>
                                            </a>
                                        </h5>
                                        <div class="price-container">
                                            @if (laptop.SalePrecentage > 0)
                                            {
                                                <div id="old-price" style="display: inline-block; text-decoration: line-through;">@laptop.Price $</div>
                                            }
                                            <div id="price" style="display: inline-block;">
                                                <strong style="font-weight: bold;">@((int)(Math.Floor(laptop.Price - laptop.Price * (laptop.SalePrecentage * 0.01)))) $</strong>
                                            </div>
                                        </div>

                                        <span class="tag1"></span>
                                    </div>
                                    <div class="description">
                                        <p>@laptop.Description</p>
                                    </div>
                                </div>
                            </div>

                            <div class="product-info smart-form" style="position: absolute; bottom: 10px; right: 10px;">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <a class="btn" asp-controller="ProductPage" asp-action="showProductCard" asp-route-model="@laptop.Model" style="width: 200px; background-color: #007FFF; color: #fff; text-align: center; display: inline-block; padding: 10px 20px; text-decoration: none; border-radius: 5px;">More Information</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




