@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">


<div class="container">
    <div class="row">
        <div class="col-md-9 offset-md-3">
            <div class="dropdown" style="float: right;">
                <button style="box-shadow:5px 7px 20px #0d6efd;" class="nav-link btn btn-link text-dark dropdown-toggle no-arrow" type="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by
                </button>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-controller="Home" asp-action="priceHighToLow">Price: high to low</a>
                    <a class="dropdown-item" asp-controller="Home" asp-action="priceLowToHigh">Price: low to high</a>
                    <a class="dropdown-item" asp-controller="Home" asp-action="Popularity">Popularity</a>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.dropdown-toggle').on('click', function () {
                    $(this).next('.dropdown-menu').toggle();
                });
            });
        </script>
        <!-- Filter Section -->
        <div class="col-md-3">
            <form method="post" action="@Url.Action("FilterProducts", "Home")">
                <div class="d-flex flex-column">
                    <div style="width: 200px" class="mb-3 filter-section">
                        <label class="toggle-btn" data-toggle="ramOptions">Filter by RAM:</label>
                        <div class="options" id="ramOptions">
                            @foreach (var ramOption in new List<SelectListItem>
                            {
                            new SelectListItem { Value = "4", Text = "4 GB" },
                            new SelectListItem { Value = "8", Text = "8 GB" },
                            new SelectListItem { Value = "16", Text = "16 GB" },
                            new SelectListItem { Value = "32", Text = "32 GB" },
                            new SelectListItem { Value = "64", Text = "64 GB" }
                            })
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="ramCheckbox_@ramOption.Value" name="ramFilter" value="@ramOption.Value">
                                    <label class="form-check-label" for="ramCheckbox_@ramOption.Value">
                                        @ramOption.Text
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <div style="width: 200px" class="mb-3 filter-section">
                        <label class="toggle-btn" data-toggle="cpuOptions">Filter by CPU:</label>
                        <div class="options" id="cpuOptions">
                        @foreach (var cpuOption in new List<SelectListItem>
                        {
                        new SelectListItem { Value = "I3", Text = "Intel I3" },
                        new SelectListItem { Value = "I5", Text = "Intel I5" },
                        new SelectListItem { Value = "I7", Text = "Intel I7" },
                        new SelectListItem { Value = "I9", Text = "Intel I9" },
                        new SelectListItem { Value = "R3", Text = "Ryzen 3" },
                        new SelectListItem { Value = "R5", Text = "Ryzen 5" },
                        new SelectListItem { Value = "R7", Text = "Ryzen 7" },
                        new SelectListItem { Value = "R9", Text = "Ryzen 9" }
                        })
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="cpuCheckbox_@cpuOption.Value" name="cpuFilter" value="@cpuOption.Value">
                                <label class="form-check-label" for="cpuCheckbox_@cpuOption.Value">
                                    @cpuOption.Text
                                </label>
                            </div>
                        }
                        </div>
                    </div>
                    <div style="width: 200px"  class="mb-3 filter-section">
                        <label class="toggle-btn" data-toggle="gpuOptions" >Filter by GPU:</label>
                        <div class="options" id="gpuOptions">
                        @foreach (var gpuOption in new List<SelectListItem>
                        {
                        new SelectListItem { Value = "irisxe", Text = "Intel IrisXe" },
                        new SelectListItem { Value = "arc", Text = "Intel Arc" },
                        new SelectListItem { Value = "apple18", Text = "Apple 18 Core" },
                        new SelectListItem { Value = "apple40", Text = "Apple 40 Core" },
                        new SelectListItem { Value = "rtx3050", Text = "Nvidia RTX 3050" },
                        new SelectListItem { Value = "rtx3060", Text = "Nvidia RTX 3060" },
                        new SelectListItem { Value = "rtx3070", Text = "Nvidia RTX 3070" },
                        new SelectListItem { Value = "rtx3080", Text = "Nvidia RTX 3080" },
                        new SelectListItem { Value = "rtx3090", Text = "Nvidia RTX 3090" },
                        new SelectListItem { Value = "rtx4050", Text = "Nvidia RTX 4050" },
                        new SelectListItem { Value = "rtx4060", Text = "Nvidia RTX 4060" },
                        new SelectListItem { Value = "rtx4070", Text = "Nvidia RTX 4070" },
                        new SelectListItem { Value = "rtx4080", Text = "Nvidia RTX 4080" },
                        new SelectListItem { Value = "rtx4090", Text = "Nvidia RTX 4090" },
                        new SelectListItem { Value = "amdrx6850", Text = "AMD RX6850" },
                        new SelectListItem { Value = "amd780", Text = "AMD 780M" },
                        new SelectListItem { Value = "amdrx6500", Text = "AMD RX6500" },
                        })
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gpuCheckbox_@gpuOption.Value" name="gpuFilter" value="@gpuOption.Value">
                                <label class="form-check-label" for="gpuCheckbox_@gpuOption.Value">
                                    @gpuOption.Text
                                </label>
                            </div>
                        }
                        </div>
                    </div>
                    <div style="width: 200px" class="mb-3 filter-section">
                        <label class="toggle-btn" data-toggle="priceOptions">Filter by Price:</label>
                        <div class="options" id="priceOptions">
                            <input type="range" id="priceRange" name="priceRange" min="0" max="20000" step="100" value="0">
                            <p>Price Range: <span id="priceValue">$0 - $20000</span></p>
                        </div>
                    </div>
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                        var priceRange = document.getElementById("priceRange");
                        var priceValue = document.getElementById("priceValue");

                        priceRange.addEventListener("input", function () {
                        var selectedPrice = parseInt(priceRange.value);
                        priceValue.textContent = selectedPrice + "- $20000"  ;
                        });
                        });
                        document.addEventListener("DOMContentLoaded", function () {
                            var filterSections = document.querySelectorAll('.filter-section');
                            filterSections.forEach(function (section, index) {
                                section.style.animationDelay = (index * 0.2) + "s";
                            });
                        });



                    </script>


                    <div style="width: 200px" class="mb-3 filter-section">
                        <label class="toggle-btn" data-toggle="saleOptions">Show On Sale Only:</label>
                        <div class="options" id="saleOptions">
                            @foreach (var saleOption in new List<SelectListItem>
                            {
                            new SelectListItem { Value = "true", Text = "Show On Sale" },
                            }) {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="saleCheckbox_@saleOption.Value" name="saleFilter" value="@saleOption.Value">
                                    <label class="form-check-label" for="ssdCheckbox_@saleOption.Value">
                                        @saleOption.Text
                                    </label>
                                </div>
                            }
                        </div>
                    </div>


                    <div style="width: 200px" class="mb-3 filter-section">
                        <label class="toggle-btn" data-toggle="ssdOptions">Filter by SSD:</label>
                        <div class="options" id="ssdOptions">
                        @foreach (var ssdOption in new List<SelectListItem>
                        {
                        new SelectListItem { Value = "128", Text = "128 GB" },
                        new SelectListItem { Value = "256", Text = "256 GB" },
                        new SelectListItem { Value = "512", Text = "512 GB" },
                        new SelectListItem { Value = "1024", Text = "1 TB" },
                        new SelectListItem { Value = "2048", Text = "2 TB" },
                        })
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="ssdCheckbox_@ssdOption.Value" name="ssdFilter" value="@ssdOption.Value">
                                <label class="form-check-label" for="ssdCheckbox_@ssdOption.Value">
                                    @ssdOption.Text
                                </label>
                            </div>
                        }
                        </div>
                    </div>
                    <div style="width: 200px" class="mb-3 filter-section">
                        <label class="toggle-btn" data-toggle="makerOptions">Filter by Maker:</label>
                        <div class="options" id="makerOptions">
                        @foreach (var makerOption in new List<SelectListItem>
                        {
                        new SelectListItem { Value = "Asus", Text = "Asus" },
                        new SelectListItem { Value = "Lenovo", Text = "Lenovo" },
                        new SelectListItem { Value = "Apple", Text = "Apple" }
                        // Add more maker options as needed
                        })
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="makerCheckbox_@makerOption.Value" name="MakerFilter" value="@makerOption.Value">
                                <label class="form-check-label" for="makerCheckbox_@makerOption.Value">
                                    @makerOption.Text
                                </label>
                            </div>
                        }
                        </div>
                    </div>
                    <div style="width: 200px" class="mb-3 filter-section">
                        <label class="toggle-btn" data-toggle="screenOptions">Filter by Screen:</label>
                        <div class="options" id="screenOptions">
                        @foreach (var screenOption in new List<SelectListItem>
                        {
                        new SelectListItem { Value = "13.3", Text = "13.3\"" },
                        new SelectListItem { Value = "14", Text = "14\"" },
                        new SelectListItem { Value = "14.5", Text = "14.5\"" },
                        new SelectListItem { Value = "15.6", Text = "15.6\"" },
                        new SelectListItem { Value = "16", Text = "16\"" },
                        new SelectListItem { Value = "17.3", Text = "17.3\"" },
                        new SelectListItem { Value = "18", Text = "18\"" }
                        
                        })
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="screenCheckbox_@screenOption.Value" name="screenFilter" value="@screenOption.Value">
                                <label class="form-check-label" for="screenCheckbox_@screenOption.Value">
                                    @screenOption.Text
                                </label>
                            </div>
                        }
                        </div>
                    </div>
                    <div style="width: 200px" class="mb-3 filter-section">
                        <label class="toggle-btn" data-toggle="categoryOptions">Filter by Category:</label>
                        <div class="options" id="categoryOptions">
                        @foreach (var categoryOption in new List<SelectListItem>
                        {
                        new SelectListItem { Value = "gaming", Text = "Gaming" },
                        new SelectListItem { Value = "2-in-1", Text = "2-in-1" },
                        new SelectListItem { Value = "everyday", Text = "Every Day Work" },
                        new SelectListItem { Value = "office", Text = "Expert Office Work" },
                        new SelectListItem { Value = "students", Text = "Students" }
                        // Add more category options as needed
                        })
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="categoryCheckbox_@categoryOption.Value" name="categoryFilter" value="@categoryOption.Value">
                                <label class="form-check-label" for="categoryCheckbox_@categoryOption.Value">
                                    @categoryOption.Text
                                </label>
                            </div>
                        }
                        </div>
                    </div>

                    <div style="width: 200px" class="mb-3 filter-section">
                        <label class="toggle-btn" data-toggle="Search">Search by Model:</label>
                        <div class="options" id="Search">
                            <input type="text" id="modelSearchInput" name="modelSearch" class="form-control" placeholder="Search by Model">
                        </div>
                    </div>
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            var toggleButtons = document.querySelectorAll('.toggle-btn');

                            toggleButtons.forEach(function (button) {
                                button.addEventListener('click', function () {
                                    var options = document.getElementById(button.getAttribute('data-toggle'));
                                    options.style.display = options.style.display === 'none' || options.style.display === '' ? 'block' : 'none';
                                });
                            });
                        });
                    </script>
                    <div>
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Products Section -->
        <div class="col-md-9">
            <div class="row">
                @foreach (var laptop in Model)
                {
                    <div class="col-md-6 col-md-6 animate__animated animate__rotateInDownLeft animate__zoomIn">
                        <div class="product-content product-wrap clearfix" style="position: relative;">
                            <div class="row">
                                <div class="col-md-5 col-sm-12 col-xs-12 animate__animated animate__fadeInLeft">
                                    <div class="product-image">
                                        <img src="~/photos/@(laptop.Picture).jpg" alt="194x228" class="img-responsive img-fluid">
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-12 col-xs-12 animate__animated animate__fadeInRight">
                                    <div class="product-deatil">
                                        <h5 class="name">
                                            <a href="#">
                                                @laptop.Maker @laptop.Model
                                                <span>@laptop.Category</span>
                                            </a>
                                        </h5>
                                        <div class="price-container">
                                            @if (laptop.SalePrecentage > 0)
                                            {
                                                <div id="old-price" style="display: inline-block; text-decoration: line-through;">@laptop.Price $</div>
                                            }
                                            <div id="price" style="display: inline-block;">
                                                <strong style="font-weight: bold;">@((int)(Math.Floor(laptop.Price - laptop.Price * (laptop.SalePrecentage * 0.01)))) $</strong>
                                            </div>
                                        </div>

                                        <span class="tag1"></span>
                                    </div>
                                    <div class="description animate__animated animate__fadeIn">
                                        <p>@laptop.Description</p>
                                    </div>
                                </div>
                            </div>

                            <div class="product-info smart-form animate__animated animate__bounceIn" style="position: absolute; bottom: 10px; right: 10px;">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <a class="btn" asp-controller="ProductPage" asp-action="showProductCard" asp-route-model="@laptop.Model" style="width: 200px; background-color: #007FFF; color: #fff; text-align: center; display: inline-block; padding: 10px 20px; text-decoration: none; border-radius: 5px;">More Information</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>




